body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
}

button, a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #681ce4;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button:hover, a:hover {
  background-color: #d818df;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

h1, h2, h3 {
  color: #333;
}

img {
  display: block;
  margin: 20px auto;
}
