<!DOCTYPE html>
<html>
<head>
    <title>Dice Game</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Current Player: {{ session["current_player"] }} - {{ session["player1"] if session["current_player"] == 1 else session["player2"] }}</h1>
    <h2>{{ session["player1"] }}: {{ session["score1"] }}</h2>
    <h2>{{ session["player2"] }}: {{ session["score2"] }}</h2>
    <h3>Running Score: {{ session["running_score"] }}</h3>
    {% if dice_image %}
    <img src="{{ dice_image }}" alt="Rolled dice">
    {% endif %}
    <form method="POST">
        <button type="submit" name="action" value="roll">Roll Dice</button>
        <button type="submit" name="action" value="hold">Hold</button>
        <button type="button" onclick="resetGame()">Restart Game</button>
    </form>
    <form action="{{ url_for('index') }}" method="POST">
      <button type="submit">Exit</button>
  </form>
    
    <div id="winner-container" style="display: none;">
      <h2>The winner is <span id="winner-name"></span>!</h2>
    </div>

    <script>
      const winnerName = "{{ winner }}";
      if (winnerName) {
        document.getElementById("winner-name").innerText = winnerName;
        document.getElementById("winner-container").style.display = "block";
      }
    
      async function resetGame() {
        const response = await fetch("{{ url_for('reset_game') }}", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded"
          }
        });
    
        if (response.ok) {
          location.reload();
        }
      }
    </script>
    
</body>
</html>
